{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="row align-items-center">
        <div class="col-md-6 text-center ">
            <h2>Inscrivez vous maintenant</h2>
            <a href="{% url 'signup' %}">inscrivez-vous</a>
        </div>
        <div class="col-md-6">
            <h2>Connectez vous</h2>
            <p>{{ message }}</p>
            <form method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            <button class="btn-primary" type="submit" >Se connecter</button>
        </form>
        </div>
    </div>
{% endblock content %}