<div class="row border mt-2">
    <div class="col-md-6">
        {% if review.ticket is None %}
        <p>{{ ticket.user.username }} a demandé une critique</p>
        {% else %}
        <p>Ticket - {{ ticket.user.username }}</p>
        {% endif %}
        <p>{{ ticket.title }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
        <p><img class="img-fluid" src="{{ ticket.image.url }}"></p>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if review.ticket is None %}
        <p class="text-center">{{ ticket.time_created | date:'H:i, d m Y' }}</p>

        <p class="text-center align-bottom"><a class="btn btn-primary" href="{% url 'create-review' ticket.id %}">Créér une critique</a></p>
        {% endif %}
    </div>
</div>