{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="row border mt-2">
    <div class="col-md-12">
    <h4>Créer une critique</h4>
    <form method="post" enctype="multipart/form-data">
        {% bootstrap_form form_ticket %}
        {% bootstrap_form form_review %}
        {% csrf_token %}
        {% buttons %}
        <button class="btn btn-primary" type="submit" >Envoyer</button>
    </form>
    <a href="{% url 'login' %}"><button class="btn btn-info" type="" >Retourner</button></a>
        {% endbuttons %}
    </div>
    </div>
{% endblock content %}