{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="container">
    <h2>Créer une critique</h2>
    <p>{{ ticket.user }} a demandé une critique</p>
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    <p><img src="{{ ticket.image.url }}"></p>

    <form method="post" >
        {% bootstrap_form form %}
        {% csrf_token %}
        {% buttons %}
        <button type="submit" >Envoyer</button>
    </form>
    <a href="{% url 'login' %}"><button type="" >Retourner</button></a>
        {% endbuttons %}
    </div>
{% endblock content %}