{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h2>Modifier le ticket</h2>
    <form method="post">
        {% bootstrap_form edit_form %}
        {% csrf_token %}
         {% buttons %}
        <button type="submit" >Modifier</button>
         {% endbuttons %}
    </form>
    <hr>
    <h3>Supprimer le ticket ?</h3>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
         {% buttons %}
        <button type="submit" >Supprimer</button>
         {% endbuttons %}
    </form>
{% endblock content %}