{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h4>Modifier la critique</h4>
<div class="row border mt-2">
    <div class="col-md-12">
            <p>Vous êtes en train de poster une réponse à :</p>
    </div>
    <div class="col-md-10 offset-md-1 mb-2">
    {% include 'books/partials/ticket_snippet.html' with ticket=review.ticket %}
    </div>
</div>
    <div class="row border">
    <form method="post">
        {% bootstrap_form edit_form %}
        {% csrf_token %}
         {% buttons %}
        <button class="btn btn-primary" type="submit" >Modifier</button>
         {% endbuttons %}
    </form>
    <hr>
    <h3>Supprimer la critique ?</h3>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
         {% buttons %}
        <button class="btn btn-danger" type="submit" >Supprimer</button>
         {% endbuttons %}
    </form>
    </div>
{% endblock content %}