{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="row border mt-2">
    <div class="col-md-12">
    <h4>Modifier le ticket</h4>
    <form method="post" enctype="multipart/form-data">
        {% bootstrap_form edit_form %}
        <p><img class="img-fluid" src="{{ edit_form.image.value.url }}"></p>
        {% csrf_token %}
         {% buttons %}
        <button class="btn btn-primary" type="submit" >Modifier</button>
         {% endbuttons %}
    </form>
    <hr>
    <h4>Supprimer le ticket ?</h4>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
         {% buttons %}
        <button class="btn btn-danger" type="submit" >Supprimer</button>
         {% endbuttons %}
    </form>
    </div>
{% endblock content %}