{% extends 'base.html' %}
{% load books_extras %}
{% block content %}
        <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-center"><a class="btn btn-primary text-center" href="{% url 'create-ticket' %}">demander une critique</a></p>
            </div>
            <div class="col-md-6">
                 <a class="btn btn-primary" href="{% url 'create-review-ticket' %}">créer une critique</a>
            </div>
        </div>
        {% for instance in tickets_and_reviews %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'books/partials/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'books/partials/review_snippet.html' with review=instance %}
            {% endif %}
        {% endfor %}


{% endblock content %}