{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <p>
            <a class="btn btn-primary" href="{% url 'create-ticket' %}">demander une critique</a>
            <a class="btn btn-primary" href="{% url 'create-review-ticket' %}">créer une critique</a>
            </p>
        </div>
    {% for ticket in tickets %}
        <p>{{ ticket.title }}</p>
        <p>{{ ticket.user.username }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
        <p><img src="{{ ticket.image.url }}"></p>
        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}