{% extends 'base.html' %}
{% load books_extras %}
{% block content %}
        <div class="row mt-3">
            <div class="col-md-12">
                <h2 class="text-center">Vos posts</h2>
            </div>
        </div>
        {% for instance in tickets_and_reviews %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'books/partials/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' and request.user != instance.ticket.user %}
                {% include 'books/partials/review_snippet.html' with review=instance %}
            {% elif instance|model_type == 'Review' and request.user == instance.ticket.user %}
                {% include 'books/partials/review_post_snippet.html' with review=instance %}
            {% endif %}
        {% endfor %}


{% endblock content %}