{% extends 'base.html' %}
{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <button type="submit" >Envoyer</button>
    </form>
    <h2>Abonnements</h2>
    {% for subscription in subscriptions %}
        <p>{{ subscription.followed_user.username }}</p>
    {% endfor %}
    <h2>Abonnés</h2>
        {% for subscriber in subscribers %}
        <p>{{ subscribers.user.username }}</p>
        {% endfor %}
{% endblock content %}