{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <div class="row">
    <h4 class="text-center">Suivre d'autres utilisateurs</h4>
    <form class="row g-3" method="post" >
        {% csrf_token %}
        <div class="col-md-11">
            <label for="username" class="visually-hidden">Password</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary mb-3">Envoyer</button>
        </div>
    </form>
    <h2 class="text-center">Abonnements</h2>
    <ul class="list-group">
    {% for subscription in subscriptions %}


       <li class="list-group-item bg-light">
           <div class="row">
               <div class="col-md-4">{{ subscription.followed_user.username }}</div>
               <div class="col-md-2 offset-md-6">
                   <a class="btn btn-success text-right btn-sm"
                      href="{% url 'delete-follow' subscription.followed_user.id %}">Se désabonner</a>
               </div>
           </div>
       </li>
    {% endfor %}
    </ul>
    <h2 class="text-center">Abonnés</h2>
    <ul class="list-group ">
        {% for subscriber in subscribers %}
        <li class="list-group-item bg-light">{{ subscriber.user.username }}</li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}